<%- include("header") %>

<section class="hero">
  <div class="overlay">
    <h1>Welcome to My Book Blog!</h1>
    <p>Explore book reviews, share your thoughts, and dive into a world of stories.</p>
  </div>
</section>

<section class="featured-books">
  <h2>Popular Books</h2>
  <div class="books-grid">
    <div class="book">
      <img src="/images/mock.jpg" alt="Book Cover 1">
      <p>To Kill a Mockingbird</p>
    </div>
    <div class="book">
      <img src="/images/harry.jpg" alt="Book Cover 2">
      <p>Harry Potter Series</p>
    </div>
    <div class="book">
      <img src="/images/girl.jpg" alt="Book Cover 3">
      <p>The Girl with the Dragon Tattoo</p>
    </div>
    <div class="book">
      <img src="/images/fire.jpg" alt="Book Cover 3">
      <p>Wings Of Fire</p>
    </div>
    <div class="book">
      <img src="/images/maha.jpg" alt="Book Cover 3">
      <p>Mahabharata</p>
    </div>
  </div>
</section>

<%- include("footer") %>
